.movies-cards {
  margin: 0 auto;
  width: calc(1140 / 1280 * 100%);
  max-width: 1140px;
}

.movies-cards_list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
  justify-items: center;
  row-gap: 37px;
  column-gap: 24px;
}

.movies-cards__paginator {
  
}
