.main-navigation {
  display: flex;
  align-items: center;
}

.main-navigation__list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.main-navigation__button {
  font-family: 'Inter';
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
}

.main-navigation__item {
  padding: 0;
  margin: 0;
}

.main-navigation__link {
  color: #fff;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  text-decoration: none;
  margin: 0 30px 0 0;
  padding: 0;
}

.main-navigation__link_type_button {
  padding: 8.5px 20.2px;
  margin: 0;
  background: #3ddc84;
  border-radius: 3px;
  color: #000;
}

@media screen and (max-width: 500px) {
  .main-navigation__link {
    font-size: 10px;
    line-height: 16px;
    margin-right: 14px;
  }

.main-navigation__link_type_button {
  padding: 7px 12.2px;
  margin: 0;
}
}
