.portfolio__header {
  margin: 0 0 50px;
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
  color: #8b8b8b;
}

.portfolio__list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.portfolio__item {
  display: block;
  border-bottom: 1px solid #424242;
  margin: 0 0 20px;
}

.portfolio__item:last-of-type {
  margin: 0;
  border-bottom: none;
}

.portfolio__link {
  display: flex;
  text-decoration: none;
  justify-content: space-between;
  margin: 0 0 19px;
  padding: 0;
  font-weight: 400;
  font-size: 30px;
  line-height: 50px;
  letter-spacing: -0.04em;
  color: #fff;
}

.portfolio__item:last-of-type .portfolio__link {
  margin: 0;
}

.portfolio__link::after {
  content: '\2197';
  font-weight: 400;
  font-size: 30px;
  line-height: 60px;
  letter-spacing: -0.04em;
  color: #fff;
}

@media screen and (max-width: 800px) {
  .portfolio__link {
    font-size: 28px;
    line-height: 50px;
  }

  .portfolio__link::after {
    font-size: 28px;
  }
}

@media screen and (max-width: 600px) {
  .portfolio__header {
    font-size: 14px;
    margin-bottom: 40px;
  }

  .portfolio__link {
    font-size: 18px;
    line-height: 28px;
  }

  .portfolio__link::after {
    font-size: 18px;
    line-height: 28px;
  }
}
