.promo {
  margin: 0;
  background-color: #073042;
}

.promo__container {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding-top: 74px;
  width: calc(1140 / 1280 * 100%);
  max-width: 1140px;
}

.promo__presentation {
  max-width: 640px;
  width: 100%;
  margin-bottom: 85px;
}

.promo__title {
  margin: 0 0 36px 0;
  padding: 0;
  font-weight: 400;
  font-size: 50px;
  line-height: 58px;
  letter-spacing: -0.04em;
  color: #fff;
}

.promo__subtitle {
  max-width: 310px;
  width: 100%;
  margin: 0 0 156px 0;
  padding: 0;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: #fff;
  opacity: 0.5;
}

.promo__link {
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  text-decoration: none;
  color: #fff;
  padding: 10px 20px;
  margin: 0;
  opacity: 0.6;
  border: 1px solid #fff;
  border-radius: 3px;
}

.promo__label {
  background-image: url('../../images/promo-label.svg');
  background-repeat: no-repeat;
  background-size: contain;
  width: 310px;
  height: 310px;
}

@media screen and (max-width: 1070px) {
  .promo__container {
    flex-direction: column-reverse;
    align-items: center;
    padding-top: 140px;
  }

  .promo__label {
    margin-bottom: 48px;
  }

  .promo__presentation {
    text-align: center;
  }

  .promo__title {
    font-size: 40px;
    line-height: 50px;
    margin: 0 auto 22px;
  }

  .promo__subtitle {
    margin: 0 auto 102px;
  }
}

@media screen and (max-width: 500px) {
  .promo__container {
    padding-top: 70px;
  }
  
  .promo__label {
    width: 210px;
    height: 210px;
    margin-bottom: 44px;
  }

  .promo__title {
    max-width: 300px;
    margin-bottom: 24px;
    font-size: 30px;
    line-height: 38px;
  }

  .promo__subtitle {
    max-width: 260px;
    margin-bottom: 90px;
    font-size: 13px;
    line-height: 16px;
  }
}
