.App {
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #202020;
}

.App__container {
  min-height: 100vh;
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  width: calc(1140 / 1280 * 100%);
  max-width: 1140px;
  margin: 0 auto;
}

.App__container_bloked {
  overflow: hidden;
}

.App__container.App__container_main {
  width: 100%;
  max-width: none;
}

@media screen and (max-width: 800px) {
  .App__container {
    width: calc(708 / 768 * 100%);
  }
}

@media screen and (max-width: 500px) {
  .App__container {
    width: calc(300 / 320 * 100%);
  }
}


.my-link:hover,
.my-link:active {
  opacity: 0.7;
}

.my-link,
.my-button {
  cursor: pointer;
  transition: opacity .3s ease;
}

.my-button:hover,
.my-button:active {
  opacity: 0.8;
}
