.modal {
  position: fixed;
  z-index: 1;
  display: flex;
  background-color: rgba(0, 0, 0, 0.3);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  align-items: center;
  justify-content: center;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s linear, visibility 0.3s linear;
}

.modal.modal_opened {
  visibility: visible;
  opacity: 1;
}

.modal__container {
  max-width: 364px;
  min-width: 292px;
  width: calc(100% * 282 / 320);
  background-color: #222222;
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.08);
  border-radius: 6px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal__close {
  position: absolute;
  background-image: url('../../images/close-button.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 31px;
  height: 31px;
  top: 22px;
  right: 22px;
}

.modal__image {
  width: 128px;
  height: 128px;
  background-image: url(../../images/error-message.png);
  background-repeat: no-repeat;
  margin: 60px 0 31px;
}

.modal__text {
  max-width: 260px;
  min-height: 26px;
  margin-bottom: 36px;
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
  text-align: center;
  color: #ff004c;
}
