.header {
  /* display: flex;
  align-items: center; */
}

.main-header {
  background-color: #073042;
}

.header__container_main {
  width: calc(1140 / 1280 * 100%);
  max-width: 1140px;
}

.header__container {
  margin: 0 auto;
  padding: 18px 0;
  display: flex;
  justify-content: space-between;
  position: relative;
}
.header__container_form {
  margin: 0;
  padding: 0;
}

.header__logo {
  width: 38px;
  height: 38px;
  background-image: url('../../images/logo.svg');
  background-repeat: no-repeat;
  background-size: contain;
}
.header__logo_form {
  margin-bottom: 40px;
}

@media screen and (max-width: 800px) {
  .header__container_main {
    width: calc(708 / 768 * 100%);
  }
}

@media screen and (max-width: 500px) {
  .header__container {
    max-width: 292px;
  }

  .header__logo_form {
    margin-bottom: 50px;
  }

  .header__container_form {
    flex-direction: column;
    align-items: center;
  }
  .header__container_main {
    width: calc(292 / 320 * 100%);
  }
}
