.about-project {
  padding: 110px 0;
}

.section-title.about-project__title {
  margin-bottom: 70px;
}

.about-project__info-list {
  margin: 0 0 110px 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

.about-project__info-item {
  list-style: none;
  max-width: 550px;
  width: 100%;
}

.about-project__header {
  margin: 0 0 22px 0;
  padding: 0;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: -0.04em;
  color: #fff;
}

.about-project__explanation {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #fff;
}

.about-project__timebar {
  display: flex;
}

.about-project__segment {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.about-project__segment:nth-of-type(1) {
  flex: 1;
}
.about-project__segment:nth-of-type(2) {
  flex: 4;
}

.about-project__length {
  padding: 9px 0;
  margin: 0 0 14px 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #fff;
  background-color: #303030;
}

.about-project__segment:first-of-type .about-project__length {
  background-color: #3ddc84;
  color: #000;
}

.about-project__name {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #8b8b8b;
}
