.techs {
  background-color: #272727;
}

.techs__container {
  padding: 100px 0;
  margin: 0 auto;
  width: calc(1140 / 1280 * 100%);
  max-width: 1140px;
}

.techs__header {
  margin: 0 0 90px;
}

.techs__info-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.techs__title {
  margin: 0 0 26px;
  font-weight: 400;
  font-size: 50px;
  line-height: 58px;
  letter-spacing: -0.04em;
  color: #fff;
}

.techs__intro {
  margin: 0 0 100px;
  max-width: 460px;
  width: 100%;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  letter-spacing: -0.04em;
  color: #fff;
}

.techs__list {
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, 84px);
  gap: 10px;
}

.techs__item {
  height: 57px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: -0.04em;
  color: #fff;
  background: #303030;
  border-radius: 10px;
}

@media screen and (max-width: 800px) {
  .techs__container {
    padding: 90px 0;
    width: calc(668 / 768 * 100%);
  }

  .techs__header {
    margin-bottom: 80px;
  }

  .techs__title {
    margin-bottom: 22px;
  }

  .techs__intro {
    font-size: 12px;
    line-height: 18px;
    margin-bottom: 83px;
  }

  .techs__item {
    font-size: 12px;
    line-height: 15px;
  }
}

@media screen and (max-width: 500px) {
  .techs__container {
    padding: 70px 0;
    width: calc(284 / 320 * 100%);
  }

  .techs__header {
    margin-bottom: 60px;
  }

  .techs__title {
    margin-bottom: 24px;
    font-size: 30px;
    line-height: 36px;
  }

  .techs__intro {
    font-size: 11px;
    line-height: 16px;
    margin-bottom: 50px;
  }
}
